html { overflow-x: hidden; overflow-y: scroll; }
body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 14px;
}

a{text-decoration: none;}

h1,h2,h3,h4,h5,h6,ol,ul{list-style: none;}

.go{
	font-size: 2.5rem;
	text-align: center;
}

.BG{background-color: aqua;}
/*那个图标开始*/
.fun{
	width: 100%;
	border: 0;
	height: 2rem;
	background-color:#111622;
	color: white;
}

.intru i{font-size: 6.25rem;}
.intru p{font-weight: 800;}

.fa-desktop:hover .fun p{color: #ff0000;}
/*那个图标结束*/


/*终极BS图文列开始*/
.kuang1{text-align: center;color: rgba(255,255,255,0);}
.kuang1 h1{font-weight: 400;font-size: large;}
.kuang1 h5{font-weight: 200;}
.lie1-1 div:hover,.lie1-2 div:hover,.lie1-3 div:hover,.lie2-1 div:hover,.lie2-2 div:hover{background: rgba(255, 255, 255, .8);color: rgba(66, 66, 66, 1); transform: scale(1);}

.lie1-1 div,.lie1-2 div,.lie1-3 div{height: 60vh; padding-top: 24vh; transition: ease-in-out .3s;}
.lie1-1{background-image: url(../img/tuwen/piano-362251_1280.jpg);}
.lie1-2{background-image: url(../img/tuwen/architecture-1914309_1280.jpg);}
.lie1-3{background-image: url(../img/tuwen/new-york-city-801867_1280.jpg);}
.lie2-1 div,.lie2-2 div{height: 40vh; padding-top: 16vh; transition: ease-in-out .3s;}
.lie2-1{background-image: url(../img/tuwen/camera-541213_1280.jpg);}
.lie2-2{background-image: url(../img/tuwen/architecture-5031117_1280.jpg);}

.lie1-1,.lie1-2,.lie1-3{background-size:180%;background-position: top center; transition: ease-in-out 3s;}
.lie2-1,.lie2-2{background-size:150%;background-position: center center; transition: ease-in-out 3s;}
.lie1-1:hover,.lie1-2:hover,.lie1-3:hover,.lie2-1:hover,.lie2-2:hover{background-size:100%;}
/*终极BS图文列结束*/
.wenzilan{
	width: 100%;
	background-color:#111622;
}
.wenzi{
	text-align: center;
	padding: 0.625rem;
	color: #473B21;
	user-select: none;
}
.wenzi  h1{
	padding-top: 2rem;
}
.wenzi  h6{
	margin: 3% auto;
	width: 70%;
}

/* 背景视频播放 */
.bgvid{
	position: fixed;
	bottom:0;
	left:0;
	width: 100%;
	z-index:-100;
}

.sp{
	padding: 4rem 10rem;
	flex-wrap: wrap;
	display: flex;
	justify-content: space-between;
}

.videokuang{
	flex: 1;
	margin: 2rem 4rem;
	
}
.videokuang iframe{
	width: 620px;
	height:350px;
	align-items: center;
}
.videowenzi {
	flex: 1;
	align-items: center;
	color: rgba(12,23,44,0.8);
	transition: ease 1s;
	margin-bottom: 1.25rem;
}

.videowenzi h1{
	font-weight: 600;
	padding-bottom: 4rem;
	text-align: center;
}

.myfoot{
	display: flex;
	padding: 4rem 10rem;
	background-color: #0B0D15;
	color: white;
	
}
.myfoot h1{
	font-weight: 600;
	margin-bottom: 1.5rem;
}
.left-column{
	flex: 1;
	text-align: left;
}


.left-column p{font-size: 0.875rem;}

.left-column-bottom p{font-size: 1.125rem;}
.left-column-bottom i{margin-right: 0.625rem;}
.left-column-bottom ul{padding: 0;}
.left-column-bottom ul li{
	display: inline-block;
	font-size: 1.75rem;
	letter-spacing: 2rem;
}
.left-column-bottom ul li a{color: white;}
.left-column-bottom .fa-wechat:hover{color: #2db009;}
.left-column-bottom .fa-weibo:hover{color: #b9100a;}
.left-column-bottom .fa-github:hover{color: #9f25aa;}
.left-column-bottom .fa-linux:hover{color: #eacd23;}

.mid-column{
flex: 1;
text-align: center;
font-size: 1.25rem;
}
.mid-column ul{padding: 0;}
.mid-column ul li{
	margin-bottom: 0.625rem;
}
.mid-column ul li a{
	text-decoration: none;
	color: white;
}
.mid-column ul li a:hover{color: dimgray;}

.right-column{
	flex: 1;
	text-align: right;
}
.shortborder{
	padding-bottom: 2.5rem;
}
.right-column .texb{
	min-width: 12rem;
	border: none;
	border-radius: 1.875rem;
	color: #293043;
	background: #ddd;
	font-weight: 700;
	padding: 0.5rem 1rem;
	outline: none;
}
.right-column .btns{
	border: none;
	border-radius: 30px;
	color: #ffffff;
	background: #c12f3d;
	font-weight: 700;
	padding: 0.5rem 1rem;
	margin-left: 0.625rem;
	outline: none;
	cursor: pointer;
	transition: opacity .3s linear;
}
.right-column .btns:hover{opacity: .7;}


/* 这一行是定义根据滑轮位置进入动画 */
.delighter{
	transition: all 2.5s ease;
	opacity: 0;
}

.videokuang.delighter {
	  transform: translateX(-100%);
  }
.wenzi.delighter{
	transform: translateY(100%);
	background: linear-gradient(45deg, red, yellow);
	-webkit-background-clip: text;
	color: transparent;
}

.videowenzi.delighter {
	  transform: translateX(100%);
	  color: white;
   }
   /* the .started class is set when the top
	  of [data-delighter] is at 0.75 of the viewport 
	  (where 0 is top and 1 is bottom) */
.delighter.started {
	transform: none;
	opacity: 1;
}

   /* an extra .ended state is set when the bottom 
	  of [data-delighter] is at 0.75 of the viewport
	  (where 0 is top and 1 is bottom) */
	/* 这个是在滑到底部的时候添加效果 */
/*   .foo.delighter.started.ended {
	  border: solid red 10px;
   } */
  
   /* 到这里结束动画 */
   
   /* Js输入动画样式 */
   // 模拟光标效果
   @keyframes blink {
     from { opacity: 0; }
     to { opacity: 1; }
   }
   
   
   #typing::after {
     content: '|';
     animation: blink 1s infinite;
   }